<form class="form-horizontal">
  <div class="control-group" >
    <div class="control-label">
      <label style="position: center; margin-left: auto;">Identity</label>
    </div>

    <div class="ui input">
      {{input value=username type="text"}}
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">
      <label style="position: relative; margin-left: auto;">Password</label>
    </div>

    <div class="ui input">
      {{input value=password type="password"}}
    </div>
  </div>

  <div class="ui button" {{action 'login'}}>Connexion</div>
</form>


{{outlet}}