<form class="form-horizontal" {{action "login" on="submit"}}>
  <div class="control-group">
    <div class="control-label">
      <label>Identity</label>
    </div>

    <div class="ui input">
      {{input value=username type="text"}}
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">
      <label>Password</label>
    </div>

    <div class="ui input">
      {{input value=password type="password"}}
    </div>
  </div>

  <button type="submit" class="ui button">Connexion</button>
</form>

{{outlet}}